<div class="container-fluid">
    <div class="row">
      <div class="col-md-10 well">
  
        <div class="row">
          <div class="col-md-3">
            <label for="sifra" class="control-label">Šifra kupca:</label>
          </div>
          <div class="col-md-7">
            <span name="sifra">
              {{kupac?.sifra}}
            </span>
          </div>
        </div>
         
        <div class="row">
          <div class="col-md-3">
            <label for="naziv" class="control-label">Ime kupca:</label>
          </div>
          <div class="col-md-7">
            <span name="naziv">
             {{kupac?.naziv}}
            </span>
          </div>
        </div>
         
        <div class="row">
          <div class="col-md-3">
            <label for="adresa" class="control-label">Adresa:</label>
          </div>
          <div class="col-md-7">
            <span name="adresa">
              {{kupac?.adresa}}
            </span>
          </div>
        </div>

        <div class="row">
            <div class="col-md-3">
              <label for="mjesto" class="control-label">Mjesto:</label>
            </div>
            <div class="col-md-7">
              <span name="mjesto">
                {{kupac?.mjesto}}
              </span>
            </div>
          </div>
  
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-8 col-md-1">
          <button type="submit" class="btn btn-info" (click)="deleteKupac()">Delete</button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger" (click)="redirectToKupacList()">Cancel</button>
        </div>
      </div>
  </div>
  

